<footer style="bottom: 0px; margin-top: auto;" class="center-row w-100 mb-4">
  <p class="footer-text mt-5s text-center pad" style="color: #D4D4D4 ;">
    © 2020 PACKS - ALL RIGHTS RESERVED	| 	<a href="test@email.com" style="color: #D4D4D4">CONTACT</a>
  </p>
</footer>
