<header>
  <div class="mobile-nav">
    <a href="/dashboard"><img src="/static/img/logo.png" alt="Packs logo" style="width: 40px; height: 30px;"></a>
    <i class="menu-icon" style="text-transform: uppercase; font-size: 12px; width: auto; padding: 0px 10px; font-style: normal;">Menu</i>
  </div>
</header>
